<div id="header" class="container">

  <!-- Logo -->
    <h1 id="logo"><a href="/">All Apple Stuffs</a></h1>

  <!-- Nav -->
    <nav id="nav">
      <ul>
        <li>
          <a href="#/catalogPageMacbook">Macbook</a>
          <!--
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Magna phasellus</a></li>
            <li><a href="#">Etiam dolore nisl</a></li>
            <li>
              <a href="#">Phasellus consequat</a>
              <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Phasellus consequat</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
              </ul>
            </li>
            <li><a href="#">Veroeros feugiat</a></li>
          </ul>
          -->
        </li>
        <li><a href="./catalogPagePhone.html">iPhone</a></li>
        <li class="break"><a href="right-sidebar.html">Journal</a></li>
        <li><a href="#/ourStory">Our Story</a></li>
      </ul>
    </nav>

</div>
