<section id="hero" class="container">
  <header>
    <h2>Shop All Apple Stuffs
    <br />
    for all your Apple needs</h2>
  </header>
  <p>Shop <strong>premier Apple accessories</strong> </p>
  <ul class="actions">
    <li><a href="#" class="button">Get this party started</a></li>
  </ul>
</section>
